# DB
POSTGRES_DB=salesdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# 読み取り専用ユーザー（Streamlitアプリ用）
REPORT_DB_USER=report_ro
REPORT_DB_PASSWORD=

# app -> db 接続先
DB_HOST=db
DB_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=
